# C++ API config for file_block_encrypt_example/block_writer
#
# Equivalent of C API: examples/file_block_encrypt_example/block_writer.config
#
# Key naming differences from C API:
#   C API uses dot-notation  (entityInfo.name, authInfo.pubkey.path, ...)
#   C++ API uses flat keys   (name, auth_id, auth_pubkey_path, ...)
#
# Paths to auth_certs/ and credentials/ are relative to the example build dir.

name=net1.client
purpose={"group":"Servers"}
number_key=3
auth_id=101
auth_pubkey_path=../../auth_certs/Auth101EntityCert.pem
entity_privkey_path=../../credentials/keys/net1/Net1.ClientKey.pem
auth_ip_addr=127.0.0.1
auth_port_num=21900
entity_server_ip_addr=127.0.0.1
entity_server_port_num=21100
network_protocol=TCP
