# C++ API config for file_block_encrypt_example/block_reader
#
# Equivalent of C API: examples/file_block_encrypt_example/block_reader.config

name=net1.server
purpose={"keyId":00000000}
number_key=1
auth_id=101
auth_pubkey_path=../../auth_certs/Auth101EntityCert.pem
entity_privkey_path=../../credentials/keys/net1/Net1.ServerKey.pem
auth_ip_addr=127.0.0.1
auth_port_num=21900
entity_server_ip_addr=127.0.0.1
entity_server_port_num=21100
network_protocol=TCP