# C++ API config for server_client_example/c_client
#
# Equivalent of C API: examples/server_client_example/c_client.config

name=net1.client
purpose={"group":"Servers"}
number_key=3
auth_id=101
session_key_enc_mode=AES_128_CBC
auth_pubkey_path=../../auth_certs/Auth101EntityCert.pem
entity_privkey_path=../../credentials/keys/net1/Net1.ClientKey.pem
auth_ip_addr=127.0.0.1
auth_port_num=21900
entity_server_ip_addr=127.0.0.1
entity_server_port_num=21100
network_protocol=TCP
