# C++ API config for ipfs_examples/cpp/secure_uploader
#
# Equivalent of C API: examples/ipfs_examples/secure_uploader.config

name=net1.uploader
purpose={"group":"FileManager"}
number_key=3
auth_id=101
session_key_enc_mode=AES_128_CBC
auth_pubkey_path=../../../auth_certs/Auth101EntityCert.pem
entity_privkey_path=../../../credentials/keys/net1/Net1.UploaderKey.pem
auth_ip_addr=127.0.0.1
auth_port_num=21900
entity_server_ip_addr=127.0.0.1
entity_server_port_num=22100
file_system_manager_port_num=22100
file_system_manager_ip_addr=127.0.0.1
network_protocol=TCP