[submodule "embedded/lib/pico-sdk"]
	path = embedded/lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "embedded/lib/picotool"]
	path = embedded/lib/picotool
	url = https://github.com/raspberrypi/picotool
