entityInfo.name=net1.robot1
entityInfo.purpose={"action":"GRIP_ITEM"}
entityInfo.number_key=3
authInfo.id=101
sessionKey.encryptionMode=AES_128_CBC
authInfo.pubkey.path=../../../../auth_certs/Auth101EntityCert.pem
entityInfo.privkey.path=../../../../credentials/keys/net1/Net1.Robot1Key.pem
auth.ip.address=100.126.33.104
auth.port.number=21900
entity.server.ip.address=100.121.192.68
entity.server.port.number=21100
network.protocol=TCP
