entityInfo.name=net1.client
entityInfo.purpose={"group":"Servers"}
entityInfo.number_key=3
authInfo.id=101
authInfo.pubkey.path=../../../../iotauth/entity/auth_certs/Auth101EntityCert.pem
entityInfo.privkey.path=../../../../iotauth/entity/credentials/keys/net1/Net1.ClientKey.pem
auth.ip.address=10.155.95.170         # change to laptop's IP if Auth is not running on Pi 4
auth.port.number=21900
entity.server.ip.address=10.155.95.170
entity.server.port.number=21100
network.protocol=TCP
