entityInfo.name=net1.rcClient
entityInfo.purpose={"group":"Servers"}
entityInfo.number_key=3
authInfo.id=101
auth.ip.address=127.0.0.1
auth.port.number=21900
entity.server.ip.address=127.0.0.1
entity.server.port.number=21100
network.protocol=TCP
PermanentDistKeyMode=on
distKey.encryptionMode=AES_128_CBC
distKey.cipherkey.path=../../../../credentials/keys/net1/Net1.RcClientCipherKey.key
distkey.mackey.path=../../../../credentials/keys/net1/Net1.RcClientMacKey.Key
