entityInfo.name=net1.uploader
entityInfo.purpose={"group":"FileManager"}
entityInfo.purpose={"FileSharing":"TeamB"}
entityInfo.number_key=3
authInfo.id=101
authInfo.pubkey.path=../../../../../auth_certs/Auth101EntityCert.pem
entityInfo.privkey.path=../../../../../credentials/keys/net1/Net1.UploaderKey.pem
auth.ip.address=127.0.0.1
auth.port.number=21900
entity.server.ip.address=127.0.0.1
entity.server.port.number=22100
fileSystemManager.port.number=22100
fileSystemManager.ip.address=127.0.0.1
network.protocol=TCP
